<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saadev.worldcup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldCup"
        tools:targetApi="31">
        <activity
            android:name="com.saadev.worldcup.players_Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.saadev.worldcup.other.ServiceNetwork"
            android:enabled="true"
            android:exported="true" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.saadev.worldcup.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.saadev.worldcup.splashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>